{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
